.hidden {
    display: none;
}
.pointer{cursor: pointer;}
h1{
    margin-top: 40px;
}
.box-login {
    max-width: 320px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
    padding: 60px 40px 40px;
}
.box-login input {
    width: 100%;
    box-sizing: border-box;
}
